{% extends "master.html" %}

{% block head %}
<script type="text/javascript">

$(document).ready(function() {
	if ( checkFavorite('{{ part.name }}') ) {
	 $('#favorite').html("Remove from favorites");
	}
	else {
	 $('#favorite').html("Add to favorites");
	}
});

</script>
{% endblock %}

{% block body %}
<div id='part' data-role="page">
	<div data-role="header">
	  <h1>Part: {{ part.name }}</h1>
	  <a href="/" data-icon="home" rel="external">Home</a>
	</div>

	{% if error %}
	 <div class="info" data-theme="e" style="color: red; font-size: 120%;">Error: {{ error }}</div>
	 </div> <!-- close #part div -->
	{% else %}
	
	<ul data-role="listview" data-theme="c">
		<li><u>Name:</u> {{ part.name }}</li>
		<li><u>Description:</u> {{ part.short_desc }}</li>
		<li><u>Type:</u> {{ part.type }}</li>
		<li><u>Size:</u> {{ part.size }} bp</li>
		<li><u>Status:</u> 
		{% ifequal part.status "Available" %}
		  <font color="green">{{ part.status }}</font>
		{% else %}
		  <font color="red">{{ part.status }}</font>
		{% endifequal %}
		</li>
		<li><u>Rating:</u> {{ part.rating }}</li>
		<li><u>Favorite:</u> {{ part.best_quality }}</li>
		<li><u>Author(s):</u> {{ part.author }}</li>
		<li><u>Added on:</u> {{ part.entered }}</li>
		<li>
		  <a href="#categories">Categories
		          <span class="ui-li-count">{{ part.categories|length }}</span>
		  </a>
		</li>
		<li>
		  <a href="#sequence">DNA sequence
		    <span class="ui-li-count">{{ part.size }} bp</span>
		  </a>
		</li>
		<li><a href="{{ part.url }}" rel="external" target="_blank">Registry page</a></li>
	</ul>
	
	<ul data-role="listview" data-theme="e">
	  <li><a href="#" onclick="toggleFavorite('{{ part.name }}');" id="favorite">Add to favorites</a></li>
	</ul>
</div> <!-- close #part div -->

<div id='categories' data-role="page">
    <div data-role="header">
      <h1>Categories for {{ part.name }}</h1>
      <a href="#" data-rel="back" data-icon="arrow-l" class="ui-btn-left">Back</a>
    </div>
	{% for cat in part.categories %}
		<ul data-role="listview">
		 <li>{{ cat }}</li>
		</ul>
	{% endfor %}
</div>

<div id='sequence' data-role="page">
 <div data-role="header">
  <h1>DNA sequence{{ part.sequences|pluralize }} for {{ part.name }}</h1>
  <a href="#" data-rel="back" data-icon="arrow-l" class="ui-btn-left">Back</a>
 </div>
 <div>
	{% for seq in part.sequences %}
	<div style="width: 80%; font-family: courier,monospace,fixed; font-size: 120%; padding: 20px 20px 20px 20px;">
	  {{ seq|upper }}
	</div>
	<hr>
	{% endfor %}
 </div>
</div>

<!--  TODO: subparts, features and twins -->

{% endif %}

{% endblock %}
